<html xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>
<div th:fragment="navigation">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">Hotel Booker - Panel Administracyjny</a>
        </div>
        <!-- /.navbar-header -->

        <ul class="nav navbar-top-links navbar-right">
            <!-- /.dropdown -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-owner fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-owner">
                    <li><a href="#"><i class="fa fa-owner fa-fw"></i> User Profile</a>
                    </li>
                    <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a th:href="@{/logout}"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                    </li>
                </ul>
                <!-- /.dropdown-owner -->
            </li>
            <!-- /.dropdown -->
        </ul>
        <!-- /.navbar-top-links -->

        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                    <li class="sidebar-search">
                        <div class="input-group custom-search-form">
                            <input type="text" class="form-control" placeholder="Search..."/>
                            <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                        </div>
                        <!-- /input-group -->
                    </li>
                    <li>
                        <a th:href="@{/index}" th:classappend="${#httpServletRequest.getRequestURI() == '/home' ? 'active':#httpServletRequest.getRequestURI() == '/' ? 'active':''}">
                            <i class="fa fa-dashboard fa-fw"></i> Pulpit nawigacyjny</a>
                    </li>
                    <li>
                        <a th:href="@{/hotelData}" th:classappend="${#httpServletRequest.getRequestURI() == '/hotelData' ? 'active':''}">
                            <i class="fa fa-building-o fa-fw"></i> Dane hotelu</a>
                    </li>
                    <li>
                        <a th:href="@{/room}" th:classappend="${#httpServletRequest.getRequestURI() == '/room' ? 'active':''}">
                            <i class="fa fa-columns fa-fw"></i> Pokoje</a>
                    </li>
                    <li>
                        <a th:href="@{/notification}" th:classappend="${#httpServletRequest.getRequestURI() == '/notification' ? 'active':''}">
                            <i class="fa fa-columns fa-fw"></i> Notyfikacje</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-tasks fa-fw"></i> Rezerwacje<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a th:href="@{/wRes}" th:classappend="${#httpServletRequest.getRequestURI() == '/wRes' ? 'active':''}">Oczekujące rezerwacje</a>
                            </li>
                            <li>
                                <a th:href="@{/rRes}" th:classappend="${#httpServletRequest.getRequestURI() == '/RRes' ? 'active':''}">Wszystkie Rezerwacje</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                </ul>
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->
    </nav>
</div>

</body>
</html>