<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>Hotel Booker</title>

    <div th:replace="links :: links-css"></div>

    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.15/css/jquery.dataTables.css"/>

</head>

<body>

<div id="wrapper">

    <div th:replace="navigation :: navigation"></div>


    <!-- Page Content -->
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Pokoje</h1>
            </div>
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Rezerwacje
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div th:if="${message}" class="alert alert-success alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert"
                                    aria-hidden="true">&times;</button>
                            <span th:text="${message}"></span>
                        </div>
                        <div th:if="${errorMessage}" class="alert alert-danger alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert"
                                    aria-hidden="true">&times;</button>
                            <span th:text="${errorMessage}"></span>
                        </div>
                        <table id="example" class="display" cellspacing="0" width="100%" th:field="*{roomList}">

                            <thead>
                            <tr>
                                <th>id</th>
                                <th>Nazwa</th>
                                <th>Opis</th>
                                <th>Rozmiar</th>
                                <th>Cena</th>
                                <th>Akcja</th>

                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                                <th>id</th>
                                <th>Nazwa</th>
                                <th>Opis</th>
                                <th>Rozmiar</th>
                                <th>Cena</th>
                                <th>Akcja</th>
                            </tr>
                            </tfoot>
                            <tbody>
                            <tr th:each="row,rowStat : *{roomList}">
                                <form href="#" role="form" th:action="@{/editRoom}" method="post">
                                    <td th:text="${row.id}">NO DATA</td>
                                    <td th:text="${row.name}">NO DATA</td>
                                    <td th:text="${row.description}">NO DATA</td>
                                    <td th:text="${row.size}">NO DATA</td>
                                    <td th:text="${row.price}">NO DATA</td>
                                    <td><input type="hidden" th:value="${row.id}" name="roomId"/><button type="submit" class="btn btn-primary" name="action" value="Edit">Edytuj</button></td>
                                </form>

                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.panel-body -->
                </div>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

<div th:replace="links :: links-scripts"></div>
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.js"></script>


<script>
    //<![CDATA[
    $(document).ready(function () {
        $('#example').DataTable({
            "columnDefs": [
                {"width": "5%", "targets": 0},
                {"width": "10%", "targets": 1},
                {"width": "50%", "targets": 2},
                {"width": "10%", "targets": 3},
                {"width": "10%", "targets": 4}
            ]
        });
        var table = $('#example').DataTable();

        $('#example tbody').on('click', 'tr', function () {
            $(this).toggleClass('selected');
            this.cells.item(0).children[1].checked = !this.cells.item(0).getElementsByTagName("input")[1].checked;

        });

        $('#button').click(function (e, dt, node, config) {
            var selectArray = "";
            for (var i = 0; i < table.rows('.selected').data().length; i++) {
                selectArray += table.rows('.selected').data()[i][0];
                if (i + 1 < table.rows('.selected').data().length) {
                    selectArray += ',';
                }
            }
            alert("asd" + selectArray);
        });
    });
    //]]>
</script>

</body>

</html>
