<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>Hotel Booker</title>

    <div th:replace="links :: links-css"></div>

    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.15/css/jquery.dataTables.css"/>

</head>

<body>

<div id="wrapper">

    <div th:replace="navigation :: navigation"></div>


    <!-- Page Content -->
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Wszystkie Rezerwacje</h1>
            </div>
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Rezerwacje
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <form href="#" role="form" th:action="@{/rResAction}" th:object="${reservationsWrapper}"
                              method="post">
                            <div th:if="${message}" class="alert alert-success alert-dismissable">
                                <button type="button" class="close" data-dismiss="alert"
                                        aria-hidden="true">&times;</button>
                                <span th:text="${message}"></span>
                            </div>
                            <table id="example" class="display" cellspacing="0" width="100%" th:field="*{reservations}">

                                <thead>
                                <tr>
                                    <th>Użytkownik</th>
                                    <th>Data</th>
                                    <th>Nazwa Pokoju</th>
                                    <th>Status Rezerwacji</th>
                                </tr>
                                </thead>
                                <tfoot>
                                <tr>
                                    <th>Użytkownik</th>
                                    <th>Data</th>
                                    <th>Nazwa Pokoju</th>
                                    <th>Status Rezerwacji</th>
                                </tr>
                                </tfoot>
                                <tbody>
                                <tr th:each="row,rowStat : *{reservations}">
                                    <input type="hidden" th:field="*{reservations[__${rowStat.index}__].id}"/>
                                    <input type="checkbox" style="display: none"
                                           th:field="*{reservations[__${rowStat.index}__].selected}"/>

                                    <td th:text="${row.user.email}">NO DATA</td>
                                    <td th:text="${row.date}">NO DATA</td>
                                    <td th:text="${row.room.name}">NO DATA</td>
                                    <td th:text="${row.reservationStatus.text}">NO DATA</td>

                                </tr>
                                </tbody>
                            </table>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <select class="form-control"
                                            th:field="${reservationsWrapper.reservationStatus.text}">
                                        <option th:each="var:${reservationOptionAll}"
                                                th:value="${var}"
                                                th:text="${var}"
                                        >
                                        </option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <button type="submit" class="btn btn-default">Aktualizuj Dane</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- /.panel-body -->
                </div>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

<div th:replace="links :: links-scripts"></div>

<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.js"></script>


<!-- Page-Level Demo Scripts - Tables - Use for reference -->
<script>
    //<![CDATA[

    $(document).ready(function () {
        $('#example').DataTable( {
            "order": [[ 1, "desc" ]]
        } );

        var table = $('#example').DataTable();

        $('#example tbody').on('click', 'tr', function () {
            $(this).toggleClass('selected');
            if (document.getElementsByName("reservations[" + (this.rowIndex - 1) + "].selected")[0].checked == true) {
                document.getElementsByName("reservations[" + (this.rowIndex - 1) + "].selected")[0].checked = false
            }
            else {
                document.getElementsByName("reservations[" + (this.rowIndex - 1) + "].selected")[0].checked = true;
            }
        });

        $('#button').click(function (e, dt, node, config) {
            var selectArray = "";
            for (var i = 0; i < table.rows('.selected').data().length; i++) {
                selectArray += table.rows('.selected').data()[i][0];
                if (i + 1 < table.rows('.selected').data().length) {
                    selectArray += ',';
                }
            }
            alert("asd" + selectArray);
        });
    });
    //]]>

</script>

</body>

</html>
