<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>Hotel Booker</title>

    <div th:replace="links :: links-css"></div>

</head>

<body>

<div id="wrapper">

    <div th:replace="navigation :: navigation"></div>


    <!-- Page Content -->
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Blank</h1>
            </div>
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Default Buttons
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <h4>some content 1</h4>

                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Circle Icon Buttons with Font Awesome Icons
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <h4>some content 2</h4>

                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-6 -->
            <div class="col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Outline Buttons with Smooth Transition
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <h4>some content 3</h4>

                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Social Buttons with Font Awesome Icons
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <h4>some content 4</h4>

                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-6 -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

<div th:replace="links :: links-scripts"></div>

</body>

</html>
